/****************************
	Author: vyom chhabra
	Date  : 09/27/2017
*****************************/

/****************************
Extra Data
*****************************/
@-ms-viewport{
	width: device-width;
	height: device-height;
}

a{
	transition: color 1.0s ease;
}

#sample {
	width: 100%;
    height: auto;
}

a:link {
    text-decoration: none;
	color: rgba(180,180,180,1);
}

a:visited {
    text-decoration: none;
	color: rgba(180,180,180,1);
}

a:hover {
    text-decoration: none;
	color: rgba(10,10,10,1);
}

a:active {
    text-decoration: none;
	color: rgba(180,180,180,1);
}

body {
	width: 100%;
	height: 100%;
	min-height: 520px;
	padding: 0;
	margin: 0;
	-webkit-text-size-adjust: auto;
	-moz-text-size-adjust: auto;
	text-size-adjust: auto;
	font-family: "Microsoft Sans Serif","Verdana","Lucida Sans Unicode";
    overflow:auto;
}

.ibk {
    display: inline-block;
}
/****************************
Main Body Data
*****************************/
div.es_body {
	background-color: rgba(255,255,255,1);
	background-size: 100% 100%;	
	display: block;
	position: relative;
	width: 400px;
	height: 550px;
	overflow:hidden;
}

div.es_body_header {
	background-color: rgba(235,245,255,1);
	background-size: 100% 100%;	
	display: inline-block;
	position: relative;
	width: 400px;
	height: 40px;
	overflow:hidden;
	text-align: center;
	font-size: 30px;
	padding: 5px;
	z-index: 2;
}

/****************************
Content Data
*****************************/
div.es_body_content {
	background-color: rgba(255,255,255,1);
	background-size: 100% 100%;	
	display: inline-block;
	position: relative;
	width: 400px;
	height: 400px;
	overflow-x:hidden;
	overflow-y:auto;
	z-index: 1;
}

div.es_body_content_text {
	display: block;
	position: relative;
	width: 400px;
	font-size: 20px;
	overflow:hidden;
	background-color: rgba(255,255,255,1);
}

div.es_body_content_text_user {
	background-color: rgba(130,170,255,1);
	background-size: 100% 100%;	
	display: block;
	position: relative;
	padding: 10px 20px;
	margin: 5px 5px 5px 50px;
	overflow:hidden;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 10px;
	float: right;
}

div.es_body_content_text_reply {
	background-color: rgba(130,255,170,1);
	background-size: 100% 100%;	
	display: block;
	position: relative;
	padding: 10px 20px;
	margin: 5px 50px 5px 5px;
	overflow:hidden;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 10px;
	float: left;
}

/****************************
Footer Data
*****************************/
div.es_body_footer {
	background-color: rgba(235,245,255,1);
	background-size: 100% 100%;	
	display: inline-block;
	position: relative;
	width: 400px;
	height: 60px;
	top: 40px;
	overflow:hidden;
}

input[type=submit].es_body_footer_btn {
	top: 6px;
	left: 348px;
    width: 50px;
	height: 42px;
    display: inline-block;
	position: absolute;
	text-align: center;
	font-size: 20px;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 10px;
	background-color: rgba(235,245,255,1);
}
input[type=submit].es_body_footer_btn:hover {
	cursor: pointer;
	transition: color 1.0s ease;
	transition: background-color 1.0s ease;
	background-color: rgba(210,210,210,1);
}

/****************************
Options Data
*****************************/
div.es_body_options {
	background-color: rgba(255,255,255,1);
	background-size: 100% 100%;	
	display: inline-block;
	position: fixed;
	width: 400px;
	bottom: 50px;
	overflow:hidden;
	z-index: 2;
	text-align: center;
	border-top: 3px solid rgba(0,0,0,1);
}

input[type=submit].es_body_options_btn {
	margin: 2px;
	height: 27px;
    display: inline-block;
	position: relative;
	text-align: center;
	font-size: 15px;
	border: 1px solid rgba(0,0,0,1);
	border-radius: 5px;
	background-color: rgba(255,255,255,1);
}
input[type=submit].es_body_options_btn:hover {
	cursor: pointer;
	transition: color 1.0s ease;
	transition: background-color 1.0s ease;
	background-color: rgba(235,245,255,1);
}
/****************************
Table Data
*****************************/
table.mmf_bc_form {
	width: 90vw;
	margin: auto;
	text-align: center;
	font-size: 3vw;
	display: inline-block;
	color: rgba(40,40,40,1);
}

table.mmf_bc_form td {
	width: 90vw;
	margin: auto;
}
/****************************
Form Data
*****************************/
input[type=text] {
    width: 330px;
	height: 35px;
    display: inline-block;
	position: absolute;
	padding: 10px;
	text-indent: 20px;
	font-size: 20px;
	border: 0;
	border-radius: 0;
	background-color: rgba(235,245,255,1);
	font-family: "Microsoft Sans Serif","Verdana","Lucida Sans Unicode";
}

